.body{
    font-family: sans-serif;
}
.buttons{
    text-align: center;
    cursor: pointer;
}

.buttons button{
    width: 420px;
    height: 250px;
    background-color: #FE7E6D;
    border-radius: 30px;
    margin: 30px;
    font-size: 30px;
    padding: 25px;
    padding-top: 0;
    cursor: pointer;
}

.info{
    font-size: 20px;
    margin-top: 10px;
}

a{
    text-decoration: none;
}