<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Cryptography | Encode</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/styleDecodeWithSplit.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    
    <h1 class="greeting">Welcome, Decode your images</h1>

    <form class="file-picker-form" action="/decodeWithSplit" method="post" enctype = "multipart/form-data">
        <input class="file-picker" type="file" name="file">
        <input class="file-picker" type="file" name="file2">
        <p>*Image must be in PNG format. Select all the images.</p>
        <button>Decode</button>
        <p id="info">Upload the two images which are obtained after splitting an image with hidden message in it</p>
    </form>
    
    <footer>Copyright &copy; TY28 2022</footer>
    
</body>
</html>
