<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Cryptography</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/styleIndex.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>

    <h1 class="greeting">Welcome, Encode and Decode your images</h1>
    <div class="buttons">
        <a href="/encode">
            <button>Encode <br>
                <p class="info">Hide your message into an image and split the image</p>
            </button>
        </a>
        <a href="/decode">
            <button>Decode <br>
                <p class="info">Extract the hidden message from your image</p>
            </button>
        </a>
        <a href="/decodeWithSplit">
        <!-- <a> -->
            <button>Decode a split image <br>
                <p class="info">Restore the original image from the split images and extract the hidden message</p>
            </button>
        </a>
    </div>

    <footer>Copyright &copy; TY28 2022</footer>
</body>
</html>
